BILOU
plugins/lbjner/Data/KnownLists1
plugins/lbjner/Data/BrownHierarchicalWordClusters1/brownBllipClusters
plugins/lbjner/Data/Models/shapeClassifier
plugins/lbjner/Data/Models/allLayer1.model
DualTokenizationScheme
rounds	30
GazetteersFeatures	1
Forms	1
Capitalization	1
WordTypeInformation	1
Affixes	1
PreviousTag1	1
PreviousTag2	1
BrownClusterPaths	1
NEShapeTaggerFeatures	1
aggregateContext	1
aggregateGazetteerMatches	1
prevTagsForContext	1
PatternFeatures	0
PredictionsLevel1	0
